:root {
  --main-color: #0f3d3e;
  // #8d86c9
  --background-color: #ffead4;
  --topBar-color: #ecb365;
  --topBarBorder-color: 3px solid black;
  font-size: larger;
  margin: 10px;
}

body {
  color: var(--main-color);
  margin: 0;
  background-color: var(--background-color);
}

.top-bar {
  border: var(--topBarBorder-color);
  background: var(--topBar-color);
  background-image: linear-gradient(
    var(--topBar-color) 0%,
    var(--background-color) 95%
  );

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .item {
    text-decoration: inherit;
    color: inherit;
  }

  .profile_menu {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .options_menu {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;

  .filter {
    margin: 20px;
  }
}

.landscape-card {
  height: 400px;
  img {
    height: 40%;
    width: 100%;
  }
  .title {
    height: 20%;
    text-overflow: ellipsis;
  }
  .info {
    height: 35%;
    overflow-y: auto;
  }
}

.portrait-card {
  height: 600px;
  img {
    height: 60%;
    width: 100%;
    aspect-ratio: 3/4;
  }
  .title {
    height: 20%;
    overflow-y: auto;
  }
  .info {
    height: 20%;
    overflow-y: auto;
  }
}

.popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  box-shadow: 24;
  // padding: 4;
  height: 80%;

  .options {
    --icon-padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5%;
    padding: 5px;

    .closebtn {
      color: var(--icon-color);
      background-color: var(--background-color);
      margin: 5px;
    }
  }

  .video-player {
    width: 100%;
    height: 92%;
  }

  .no-video {
    // width: 100%;
    display: flex;
    left: 30%;
    padding: 100px;
    align-items: center;
    justify-content: center;
  }
}
